/* Overarching stylesheet for webpage */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

/* This sets the background colour to be black and the text colour to be white */
body{
    background: #080808;
    color: white;
}

/* This is the main header set up - i.e. what all of the following elements will be under */
#header{
    width: 100%;
    height: 100vh;
    position: sticky; top: 0;
}

/* this is the container that has the nav bar in */
.container-home{ 
    padding: 20px 10%;
    background-color: #280303;
}

/* this is the container that has the nav bar in */
.container-about{ 
    padding: 20px 10%;
}

/* This displays the nav bar next to the logo on the page */
nav{
    display: flex;
    align-items: right;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Setting logo size */
.logo{
    width: 140px;
}

/* Displaying Nav bar in format we want it in, inline block displays horizontally */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

/* This sets the format of the text in the nav bar */
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

/* This creates a red line under each menu item that is hidden */
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

/* This reveals the red line under the meny item when the cursor hovers over it */
nav ul li a:hover::after{
    width: 100%;
}


/* This sets the size and margin for the homepage text */
.homepage-text{
    background-image: url(images/Amit-background.png);
    background-size: cover;
    background-position: center;
    margin-top: -27%;
    font-size: 30px;
    margin-left: 155px;
}

/* This sets the font size and margin for the text  */
.homepage-text h1{
    font-size: 60px;
    margin-top: 35px;
}

/* This part changes the colour of a particular word that has the span tag */
.homepage-text h1 span{
    color: #ff004f;
}







/* THIS IS THE ABOUT PAGE */




/* This section controls the parameters of the overall about section including distance from previous section and text colour */
#about{
    padding: 200px 0;
    color: #ababab;
}

/* This makes the About me title appear in a row (next to the image) */
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* The first column will have a column which takes up 35% of the screen and a picture within that takes up that full width. */
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

/* This makes the text take up the remaining 60% of the screen */
.about-col-2{
    flex-basis: 60%;
}

/* This allows us to change the sub-title text formatting */
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}

/* This adds a 20px gap between the body and the title */
.about-body{
    margin-top: 20px;
}

/* This displays the about me tabs horizontally and adjusts the font formatting. Also turns the cursor into a pointer when you hover over a link */
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

/* This adds a red line underneath the active link when the cursor hovers over it. */
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 75%;
}

/* This creates the formatting for the contents of the about me tabs */
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 14px;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 18px;
}

/* This section allows me to hide inactive tabs. */
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

















